html
    head
        title  zer01coded
        block style 
              
    body
        nav#navbar
                img.navlogo(src="../static/navlogo.jpeg", alt="", srcset="" height="50px" width="50px")
                a.navitems(href="/Resources") Resources
                //- a.navitems(href="/Contact_Us") Contact Us
                a.navitems(href="/Our_Team") Our Team
                a.navitems(href="/achievement") Achievements
                a.navitems(href="/") Home
              
        block content

        footer#footerbar 
            a.footeritems(href="")
              img#instalogo(src="../static/insta_logo.png" height="15px")
              p.para
                a.footerlinks(href="https://www.instagram.com/zero1coded/") zero1coded
              
            a.footeritems(href="")
              img#gmaillogo(src="../static/gmail_logo.png")
              p.para
                a.footerlinks(href="https://www.zero1coded.nitpy@gmail.com") zero1coded.nitpy@gmail.com

            a.footerrules.footerlinks(href="/rules_And_Regulation") Rules and Regulation 

     

