extends base.pug

block style 
    style 
        include ../static/navbar.css
        include ../static/Our_Team.css
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap' rel='stylesheet')
        include ../static/footer_style.css

block content 

    h2 Faculty And Staff Members 

        div.griddiv
            div#Coordinator.team 
                img.img(src="../static/members.png", alt="", srcset="")
                h3 Dr Anshuman Mahapatra
                p.para_abt_team Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste quod minima ullam porro repellat aliquam ducimus omnis distinctio odit, perferendis beatae ratione tempore eveniet quisquam!

            div#Co-ordinator.team
            
                img.img(src="../static/members.png", alt="", srcset="")     
                h3 Dr Sanjay Bankapur 
                p.para_abt_team Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste quod minima ullam porro repellat aliquam ducimus omnis distinctio odit, perferendis beatae ratione tempore eveniet quisquam!

            div#supportstaff.team
            
                img.img(src="../static/members.png", alt="", srcset="")     
                h3 Dr Sanket kulkarni  
                p.para_abt_team Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste quod minima ullam porro repellat aliquam ducimus omnis distinctio odit, perferendis beatae ratione tempore eveniet quisquam!
    
    
    h2 Members

        div.griddiv2
            div#Secretary.team   
                img.img(src="../static/members.png", alt="", srcset="") 
                h3 Bhomesh Prajapat
                p.para_abt_team Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste quod minima ullam porro repellat aliquam ducimus omnis distinctio odit, perferendis beatae ratione tempore eveniet quisquam!


            div#Joint_Secretary.team  
                img.img(src="../static/members.png", alt="", srcset="")
                h3 Akshun Soni    
                p.para_abt_team Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste quod minima ullam porro repellat aliquam ducimus omnis distinctio odit, perferendis beatae ratione tempore eveniet quisquam!

        