extends  base.pug 

block style 
    style 
        include ../static/navbar.css
        include ../static/home_style.css
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap' rel='stylesheet')
        include ../static/footer_style.css
        include ../static/rules.css

block content
    h1.heading_of_rules Rules And Regulation 
    div#rules_And_regulation 
         
        div.rules  
            | 1. You are asked to work together as a team on team projects.
            
        div.rules   
            | 2. Your participation in club activities is important, absentees will have to explain their reason to the club coordinators or necessary actions will be taken.
            
        div.rules   
            | 3. Any unauthorized actions are not allowed while the club activities are in motion.

            
        div.rules   
            | 4. Sharing projects with anyone outside of our club is prohibited. Confidentiality is appreciated.
           
        div.rules   
            | 5. Disrespect towards the teachers/mentors will not be tolerated. Discipline is a must.
           
        div.rules   
            | 6. Every assignment will award you with points. Club members with fewer points will be asked to work in the club longer to improve their skills. Regularity and sincerity are appreciated.
            
        div.rules   
            | 7. Club Members having points less than the threshold for subsequently multiple months will be  removed from all the activities of the club.
             
        div.rules   
           | 8. All the computers and other stationery provided are NIT Puducherry's property; you will be responsible for harming any of them.
             
        div.rules  
           | 9. Disciplinary actions are going to be taken if you don't follow these Rules and Regulations depending upon the severity of the case.                                      


